
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 0 200px;
    border-radius: 0.6vw;
    box-shadow: 0 0.75vh 0 0 rgba(0, 0, 0, 0.05);
    .userForm {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .inner-flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}
